extends layout

block title
    title Cube

block content

    .deadCentre
        .cubeWrap
            .cube
                .face
                .face
                .face
                .face
                .face.character
                .face

    footer
        p
            | Idea totally stolen from 
            a(href="http://chrismckenzie.com/") Chris McKenzie 
            | and implemented in HTML with 
            a(href="http://https://github.com/raimohanska/bacon.js") Bacon.js 
            | by 
            a(href="http://twitter.com/craig_dallimore") Craig

