@import "compass/reset";
@import "_mixins";

/* Globals
---------------------------------------------------------------------------- */

* {
    @include box-sizing(border-box);
}
html, body {
    height: 100%;
}
body {
    background-color: #f0f9ff;
    @include filter-gradient(#f0f9ff, #d1d1d1, horizontal);
    @include background-image(radial-gradient(center, ellipse cover, #f0f9ff 22%,#d1d1d1 100%));

}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
};

.ir { /* Image Replacement */
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    display: inline-block;
}

.hide {
  display: none;
}

