@import "_mixins";

/* Dead Centre
---------------------------------------------------------------------------- */

.deadCentre {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    overflow: visible;
    > div {
        position: absolute;
        left: 50%;
    }
}

